body.homepage{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(165deg, #300a5a 55%, #7c1ec9);
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
    
}

h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 50px;
    
}

main.homepage p{
    color: white;
    font-size: 20px;
}

main.homepage{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;

}  

.intro{
    margin-top: -1%;
    text-align: center;
}


main.homepage a{
    color: white;
    text-decoration: none;
}

footer.homepage{
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 5%;
    margin-left: 2%;
    
}

footer.homepage h2{
    text-decoration: underline;
}

footer.homepage a{
    text-decoration: none;
    transition: all;

}

footer.homepage a:hover{
    text-decoration: underline;
}

footer.homepage a{
    color: white;
}

.covers{
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    
}

.covers img{
    border-radius: 7%;
    border: 3px solid black;
    
}

.covers div{
    margin: 20px;
    text-align: center;
    transition: all 350ms;
    
}

.covers div img:hover{
    border: solid whitesmoke;
}


.covers div:hover{
    transform: scale(1.2);

}

/*Hier begint Red Dead Redemtption CSS*/

body.RDR2{
    display: flex;
    flex-direction: column;
    background-image: url("images/RDR2background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;

}

header.RDR2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main.RDR2{
    display: flex;
    flex-direction: column;
    
}

main.RDR2 article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-left: 15%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: 3px solid white;
    position: absolute;
    padding: 20px;
    text-align: center;
    font-family: 'Chinese Rocks Rg', sans-serif;
    
}

@import url('https://fonts.cdnfonts.com/css/chinese-rocks');

/*Hier begint Spider-Man 2 CSS*/

body.SM2{
    display: flex;
    flex-direction: column;
    background-image: url("images/SM2Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
}

header.SM2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main.SM2{
    display: flex;
    flex-direction: column;
}

main.SM2 article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-left: 15%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: 3px solid white;
    position: absolute;
    padding: 20px;
    text-align: center;
    
}

/*Hier begint The Last Of Us Part Two CSS*/

body.TLOU2{
    display: flex;
    flex-direction: column;
    background-image: url("images/TLOUbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
}

header.TLOU2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header.TLOU2 img{
    margin-top:-2%;
}

main.TLOU2{
    display: flex;
    flex-direction: column;
}

main.TLOU2 article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -2%;
    margin-left: 15%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: 3px solid white;
    position: absolute;
    padding: 20px;
    text-align: center;
}

